footer{
    display: flex;
    flex-flow: column wrap;
}
.footer__section{
    
    text-align: center;
    margin: 35px 25px 35px;
}
.footer__section__icono{
    margin-bottom: 10px;
    color: var(--Celeste);
}
.footer__section__icono i:hover{
    color: #0022AA;
}
.footer__section-copy{
    padding: 0 10px 20px;
}

/* MEDIA || TABLET 768px */
@media (min-width: 768px){

}

/* MEDIA || DESKTOP 1024px */
@media (min-width: 1024px){
    footer{
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        margin-top: 40px;
    }
    .footer__section{
        width: 31%;
        margin: 0 10px;
    }
    .footer__section-copy{
        margin-top: 40px;
    }
}