:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 12px;
}
h2{
    font-size: 24px;
}
.precio{
    font-size: 18px;
}
.descuento, h4{
    font-size: 16px;
}
li{
    list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}