header{
    background-color: var(--Amarillo);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.header__container-logo-barra article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__div{
    padding: 20px 0px 0px 10px;
}
.header__div img{
    flex-grow: 0.20;
    width: 110px;

    animation: aumentar 1s ease-in infinite alternate;
}
@keyframes aumentar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.header__nav{
    flex-grow: 0.75;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    
    width: 200px;
    margin: 10px 10px 0 0;
}
.header__nav i{
    position: absolute;
    padding: 4px;
    background-color: white;
    border-left: var(--GrisClaro) 1px solid;
}
.header__nav input{
    position: relative;
    width: 80%;
    height: 40px;

    border: white;
}

.copy-header{
    margin: 0 5px 0 0;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}
.header__lista{
    display: none;
    margin-bottom: 20px;
    text-align: center;
}
.header__lista__primary{
    margin-bottom: 20px;
}
.header__burger-menu {
    text-align: center;
    margin: auto 0;
    padding-bottom: 20px;
}
.header__burger-menu i{
    background-color: var(--Azul);
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.show{
    display: block;
}

@media (min-width: 768px){
    .header__container-logo-barra{
        display: flex;
        justify-content: space-between;
        text-align: right;
        align-items: center;

        margin: 0 15px;
    }
    .header__nav input{
        width: 100%;
        height: 40px;
    }
    .copy-header{
        max-width: 250px;
        text-align: right;
        padding: 14px 8px 0 0;
        font-size: 16px;
    }
    .header__lista{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .header__lista ul{
        display: flex;
    }
    .header__lista li{
        margin: 0 5px;
    }
    .header__burger-menu{
        display: none;
    }
}

@media (min-width: 1024px){
    .header__container-logo-barra, .header__lista{
        max-width: 1024px;
        margin: auto;
    }
    .header__div img{
        width: 200px;
    }
    .header__container-logo-barra{
        align-items: center;
    }
    .copy-header{
        margin-right: 20px;
        padding: 23px 0;
        width: 600px;
        font-size: 13px;
        text-align: left;
    }
    .header__lista{
        margin-top: 40px;
    }
    .header__lista__secundary{
        margin-right: 20px;
    }
    .header__lista li{
        margin: 0 10px;
    }
    .header__lista a{
        font-size: 19px;
    }
}