/* CABECERA */

/* FORMS */
.create-form{
    padding: 20px 15px;
    margin-top: 163px;
}
.control-form{
    margin-bottom: 15px;
}
.control-form label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control{
    width: 100%;
    padding: 8px;
}

.boton-form{
    background-color: var(--Verde);
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* ARTICULOS */
.home__main__section__article{
    border: 1px solid black;
    padding: 0 15px;

}
.home__main__section__article div{
    position: relative;
}
.home__main__section__article div img{
    width: 100%;
}
.home__main__section__article div h4:hover{
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 50%;
}
.home__main__section__article div h4{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 15px;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    transition: all 450ms;
}